[bot]
token="..."
id=
log_file="..."

[moderation]
log_file="..."
channel_id=
role="..."
muted_role="..."

[server]
guild=

[roles]
channel=
    [roles.X]
    desc="..."

[channels]
    [channels.eventos]
    main=
    moderation=
    submission=

    [channels.ofertas]
    main=
    moderation=
    submission=
